@media screen and (min-width:768px) and (max-width:1199px) {

	.container {
		max-width: 766px;
		padding-right: 16px;
		padding-left: 16px;
	}
	.service {
		padding: 112px 0;
	}

	.service_header {
		margin-bottom: 36px;
	}

	.principles_item {
		flex-basis: calc((100% - 24px) / 2);
	}

	.principles_list {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		column-gap: 24px;
		max-width: 736px;
		row-gap: 72px;
		margin-right: 0;
	}

	.principles_item:not(:last-of-type) {
		margin-right: 0;
	}

	.principles_item_perevagy {
		display: none;
	}

	.principles {
		padding-top: 96px;
	}

	.principles_item:not(:last-of-type) {
		margin-right: 0;
	}

	.principles-header {
		text-align: left;
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 40px;
		letter-spacing: .02em;
		text-transform: capitalize;
		color: #2e2f42;
		margin-bottom: 8px;
	}

	.principles_text {
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: .02em;
		color: #434455;
	}

	.examp {
		display: none;
	}

	.team {
		padding-top: 96px;
		padding-bottom: 96px;
	}

	.team_persons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 64px 24px;
	}

	.team_list:not(:last-of-type) {
		margin-right: 0;
	}

	.section_customers {
		padding: 96px 0;
	}

	.customers-item {
		flex: 0 0 calc(50% - 12px)
	}

	.clients_item {
		width: 168px;
		height: 88px;
	}

	.clients_list {
		max-width: 552px;
		display: flex;
		justify-content: center;
		gap: 24px;
		row-gap: 72px;
		flex-wrap: wrap;
		margin: 0 auto;
	}

	.containter_foot {
		max-width: 582px;
		justify-content: start;
	}


	.portfolio {
			padding-top: 96px;
			padding-bottom: 96px;
	}

	.portfolio_ul {
			display: flex;
			justify-content: center;
			flex-basis: calc((100% - 24px) / 2);
			gap: 24px;
			row-gap: 72px;
			max-width: 736px;
	}

	.row_item {
		min-width: 354px;
	}

	.portfolio_row_item {
		flex-basis: calc((100% - 72px) / 2);
		box-sizing: border-box;
	}



	.footer_left {
		display: flex;
		flex-direction: row;

	}

	.footer_left_studio {
		margin-left: 0;
	}


	.footer__left_media {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-content: space-between;
		margin-top: 0;
		margin-left: 24px;
	}

		.subscribe_title {
				
		}

	.button_subscribe {
		margin-left: 24px;
		margin-top: 0;
	}

	.footer_logo {
		display: block;
		text-align: left;
	}

	.footer_media {
		display: block;
		text-align: left;
	}

	.footer {
		flex-direction: column;
	}

	.footer_right {
		margin-left: 0;
	}

	.footer_right {
		margin-left: 0;
		margin-top: 72px;
	}

	.header-div {
		display: flex;
		align-items: center;
		justify-content: space-between
	}

	.mobile_menu_open {
		background-color: transparent;
		border: 0;
		padding: 0;
		line-height: 0
	}

	.header-div {
		display: flex;
		align-items: center;
		justify-content: space-between
	}

	.logo {
		padding-top: 24px;
		padding-bottom: 22px
	}

	.mobile_menu_open {
		background-color: transparent;
		border: 0;
		padding: 0;
		line-height: 0
	}

	.address {
		flex-direction: column
	}

	.address_item {
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 1.5;
		letter-spacing: .04em;
		color: var(--purple);
		padding-top: 6px;
		padding-bottom: 6px;
		display: block;
		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
	}

	.address_item:hover,
	.address_item:focus {
		color: var(--grey-syniy)
	}
}

@media screen and (min-width:428px) and (max-width:767px) {
	.service {
	background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/images-tablets-optimized/Dark-bg-1x.jpg);
}
	@media screen and (min-device-pixel-ratio:2),
	(-webkit-min-device-pixel-ratio:2),
	(min-resolution:192dpi),
	(min-resolution:2dppx) {
		.service {
			background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/images-tablets-optimized/Dark-bg-2x.jpg);
		}
	}
}
